body {
    font-family: Arial, sans-serif;
}

.key {
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 10px;
    margin: 1px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
}

.key:hover {
    background-color: rgb(231, 231, 207);
}

.key--wide {
    width: 100px;
}

.key--xwide {
    width: 200px;
}

.active {
    background-color: coral;
}

.active:hover {
    background-color: #fd9974;
}

.keyboard {
    text-align: center;
    user-select: none;
}

.wrapper {
    text-align: center;
}